.btnAdmin {
  /* display: flex; */
  position: relative;
  cursor: pointer;
  background: rgba(251, 140, 89, 0.5);
  color: white;
  font-size: 1em;
 /* text-align: center;
 line-height: 50px; */
  margin: auto 5rem;
  border:none;
  border-radius: 10px;
  height: 50px;
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btnAdmin:hover{
  background: rgba(255, 135, 79, 0.2);
}
.btnAdminIcon{
  font-size: 1.4em;
  display: flex;
  align-items: center;
  transition: all 3s ease-in;
  text-align: center;
}

.btnAdminText{
text-align: center;
 line-height: 50px;
}
.inputAdmin {
  display: block;
  height: 1.4rem;
  font-size: 1em;
  color: rgb(27, 26, 26);
  background: rgba(255, 201, 201, 0.5);
  padding: 0.6em;
  border: none;
  transition: all 0.8s ease-in;
  margin: 10%;
  border-radius: 2px;
  max-width: 500px;
  min-width: 200px;
  width: 70%;
}
.inputAdmin:focus {
  outline: none;
  border-bottom: white 1px solid;
  background: rgb(255, 255, 255);
  color: #000;
}

.adminLink {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.iconStyle {
  width: 2rem;
  font-size: 1.6rem;
  margin-right: 0.4rem;
}
.formExperience {
  /* border: white 2px solid; */
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
/* .labelStyle {  
  letter-spacing: 2px;
  padding: .2em;
}
@media (prefers-color-scheme: dark) {
  .labelStyle {color:aliceblue}
} */
.datePciker {
  width: 15em;
  background: rgb(255, 255, 255, 0.5);
  color: black;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: white 2px solid;
  margin: 5px;
}
.datePciker:focus {
  outline: none;
}
.experiencePreview {
  width: 80%;
  min-height: 9rem;
  font-size: 1em;
  border: white 1px solid;
  padding: 1em;
  margin: 0.8rem;
  box-sizing: border-box;  
  color:black;
  /* background: black; */
  line-height: 1.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  
}
.experiencePreview li {
  list-style: none;
  padding-top: 5px;
  font-weight: .9em;
}
.experiencePreview li span{ font-size: .9em;}
.liTitle{
 
  font-weight: 600;
}
.inputExperience {
  width: 80%;
  margin-bottom: 1rem;
  background: rgb(255, 255, 255, 0.5);
  color: black;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: white 2px solid;
  margin: 5px;
  padding: 0.5em;
}
.inputExperience:focus {
  outline: none;
}
