body {
	margin: 0;
	font-size: 14px;
	background: #222222 repeat center
		url("../public/image/woods-background.jpg");
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
	scroll-behavior: smooth;
}
*::selection {
	background-color: rgb(255, 255, 255, 0.3);
	font-weight: bold;
}
@media screen and (min-width: 800px) {
	body {
		font-size: 16px;
	}
}
