
    .card {
      min-width: 22.5rem;
      width: 36vw;
      height: 35vh;
      min-height: 12rem;
      background: rgb(255, 255, 255, 0.4);
      margin: 1rem 1rem;
      border-radius: 25px;
      color: rgb(255, 255, 255);
      overflow: hidden;
      display: flex;
      flex-shrink: 1;
      align-items: center;
      justify-content: space-evenly;
      box-sizing: border-box;
      z-index: 1;
      transition: 0.3s;
    }

    .card:hover {
      transform-origin: top left;
      box-shadow: 1px 1px 10px 10px rgba(248, 254, 214, 0.2);
    }
    @media screen and (max-width: 769px) {
      .card {
        min-width: 300px;
        width: 70vw;
        height: 20vh;
        margin: 1em auto;
      }
    }
    @media screen and (max-width: 280px) {
      .card {
        min-width: 90vw;
        width: 80%;
        margin: 5px auto;
        border-radius: 5px;
      }
    }
    
    .modalContent {
      width: 80vw;
      height: 80vh;
      border: white 1px solid;
      border-radius: 5px;
      position: relative;
      overflow-x: hidden;
      z-index: 2;
      box-shadow: .8px .8px 8px 8px rgba(129, 129, 129, 0.48);
      /* when no custom day/night mode */
      background-color: rgb(255, 255, 255, 0.8);
      /* color:'white'; */
    }
    .modalContentNight{
      background-color: rgb(0, 0, 0, 0.8);
      color:white;
    }
    .modalContentDay{
      background-color: rgb(220, 220, 220, 0.8);
      color:black;
    }
    .listStyle {
      width: 100%;
      list-style: none;
      line-height: 1.6rem;
      letter-spacing: 0.2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      margin: 1.4rem 0 0 -1.5rem; color:black
    }

  
    .closeIcon {
      color: rgba(43, 43, 43, 0.714);
      position: sticky;
      top: 0;
      right: 0px;
      display: block;
      z-index: 3;
      transition: 0.4s all ease-in;
      cursor: pointer;
      pointer-events: auto;
      touch-action: auto;
    }
    .closeIcon:hover {
      transform: rotate(0.5turn);
      transform-origin: center;
    }
    @media screen and (max-width: 900px) {
      .modalContent {
        overflow-y: auto;
      }
    }
    @media screen and (max-width: 420px) {
      .modalContent {
        width: 90%;
        height: 90%;
      }
      .closeIcon {
        top: 0.3rem;
        right: 1.2rem;
        font-size: 1em;
      }
    }
    .labelStyle {  
      letter-spacing: 2px;
      padding: .2em;
    }
    @media (prefers-color-scheme: dark) {
      .labelStyle {color:aliceblue}
    }
    @media (prefers-color-scheme: dark) {
      .card{ background: rgba(200, 200, 200, 0.45);}
      .modalContent {
        background: rgba(20, 20, 20, 0.89);
      }
      /* .modalContentNight{
        background: rgba(20, 20, 20, 0.45);
        color:antiquewhite
      }
      .modalContentDay{
          background-color: rgb(220, 220, 220, 0.8);
          color:white;
        } */
        .listStyle {
          color:white
        }
        .closeIcon {
          color: rgba(213, 213, 213, 0.453);}
    }
